/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #47932f;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    width: 130;
    bottom: 0;
}

footer p {
    position: relative;
    top: 5px;
    margin: 0;
}

main {
    padding: 2rem;
}

h1, h2 {
    color: #4bc227;
}

section {
    margin-bottom: 2rem;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ff0404;
    border-radius: 4px;
}

#contact-form button {
    padding: 10px 20px;
    background-color: #17aba6;
    color: rgb(98, 65, 65);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: #555;
}
